*{
  margin:0;
  padding:0;
  box-sizing: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;

}

.inside-container{
  max-width: 1100px !important;
  margin:0 auto;
  padding:0 10px;
}


.container{
  
  margin:0 auto;
  background: rgb(66, 74, 92);
  
}

nav{
  background: rgb(66, 74, 92);
  max-width:1100px;
  margin:0 auto;

 
  
}

.sticky{
  position:sticky;
  top:0;
  z-index: 10;
 
}

nav .logo-btn{
 display: flex;
 justify-content: space-between;
 padding:10px 10px;
 align-items: center;
 border-bottom: 1px solid #ccc;
}

nav .logo-btn a{
  font-size: 25px;
  color: #fefefe;
 }

 nav .logo-btn .btn{
   color: #fefefe;
   cursor: pointer;
 }

 .links{
  background: rgb(98, 104, 117);
  transform: translateX(-100%);
  bottom: 0;
  top:54px;
  width: 100%;
  position: fixed;

  transition: all 0.5s ease-in-out;
  
 }

 .newLinks{
  background: rgb(98, 104, 117);
  transform: translateX(0%);
  bottom: 0;
  top:54px;
  width: 100%;
  position: fixed;
  
  transition: all 0.5s ease-in-out;
 }



 .links li a{
   display: block;
   padding:10px;
   font-size: 18px;
   color: rgb(209, 208, 207);
   transition: all 0.5s ease-in-out;
   border-bottom: 1px solid gray;
   text-transform: capitalize;
   position: relative;
 }

 .links li a:hover{
  display: block;
  padding:10px 20px;
 color: white;
 /* border-bottom: 1px dashed rgb(143, 141, 141); */
  
 
}

.links li a:after{
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px  dashed rgb(143, 141, 141);
 
  left: -100%;
  height: auto;
  display: block;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.links li a:hover:after{
  content: '';
  position: absolute;
  width: 100%;
 border-bottom: 1px  dashed rgb(143, 141, 141);
  left: 0;
  height: auto;
  display: block;
  left:0%;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.cart{
  color:white;
  align-self: center;
  cursor: pointer;
  position: relative;
  
}

.cart span{
  position: absolute;
  top:-10px;
  right:-12px;
  background: crimson;
  padding:  1px;
  border-radius: 50%;
  text-align: center;
  width:18px;
  height: 20px;
  font-weight: bold;
  z-index: 1;

}

.itemCart{
  position: relative;
}

.itemCart span{
  position: absolute;
  top:-10px;
  right:0px;
  background: crimson;
  padding: 0px 3px;
  border-radius: 50%;
  text-align: center;

}

.cartNav{
  background: rgb(98, 104, 117);
  position: fixed;
  top:54px;
  bottom: 0;
  /* transform: translateX(100%); */
  right: -100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-top: 1px solid gray;
}

.newCartNav{
  background: rgb(98, 104, 117);
  position: fixed;
  top:54px;
  bottom: 0;
  /* transform: translateX(0%); */
  right: 0;
  width: 100%;
}


.carta{
display: none;

}








@media screen and (min-width:664px){
 nav .logo-btn{
    border-bottom:none;
  }
  .logo-btn .btn{
    display: none;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  

.links{
  display: flex;
  background: transparent;
  transform: translate(0);
  position: relative;
  top:auto;
  bottom: auto;
} 

.links li a{
  border-bottom: none;
  margin-left:5px;

}

.links li a:hover{
  padding:10px;

}



.links li a:after{
  border-bottom: none;
}

.links li a:hover:after{
 border-bottom: none;
}

.hide{
  display: none;


}




.cartNav{
  background: rgb(98, 104, 117);
  position: fixed;
  top:53px;
  bottom: 0;
  /* transform: translateX(100%); */
  right: -100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.newCartNav{
  background: rgb(98, 104, 117);
  position: fixed;
  top:53px;
  bottom: 0;
  /* transform: translateX(0%); */
  right: 0;
  width: 390px;
}


.dra{
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.carta{
  display: block;
  margin-left: 10px;
 cursor: pointer;
 color: lightgray;
 
}

.cart span{
  position: absolute;
  top:-10px;
  right:-7px;
  background: crimson;
  padding:  1px;
  border-radius: 50%;
  text-align: center;
  width:16px;
  height: 16px;
  font-weight: bold;

}


}


/* products */
.products{

 width:100%;
 
  
}

.products h2{
  text-align: center;
  margin: 20px 0;
  letter-spacing: 0.3rem;
  font-weight: 400px;
  color: rgb(100, 100, 100);
  text-decoration: underline;
}

.products-center{
  padding:10px;
  max-width: 1100px;
  margin:0 auto;
}
.product{
  box-shadow: 1px 1px 4px 1px gray;
 
  margin:0px auto;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
 
}

.product:hover{
  box-shadow: 1px 1px 7px 1px rgb(65, 64, 64);

}

.product img{
  display: block;
  width: 70%;
  margin:0 auto;
  transition: all 0.3s ease-in-out;

}

.img-div{
  background: rgb(247, 247, 247);
}

.product .details{
border-top: 1px solid lightgray;
padding:10px;
text-align: center;
}

.details h3{
 color:rgb(105, 105, 105);
 letter-spacing: 0.1rem;
 font-style: italic;
 font-family: cursive;
}

.details p{
  color:crimson;
  padding: 10px 0;
  font-weight: bold;
}

.details button{
  width:100%;
  padding:10px 10px;
  font-size:18px;
  outline: none;
  border:none;
  background: darkgrey;
  transition: all 0.3s ease-in-out;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.details button:hover{
 
  background: rgb(131, 130, 130);
  color: white;
cursor: pointer;


}

.img-div{
  position: relative;
 
}

.img-div:hover img{
 transform: scale(1.05);
 
}













@media screen and (min-width:576px){
.products-center{
  display: flex;
  flex-wrap: wrap;
}

.product{
flex:0 0 calc(50% - 20px);
 margin-bottom: 20px;
}

}


@media screen and (min-width:876px){
  .products-center{
    display: flex;
    flex-wrap: wrap;
  justify-content: space-between;
  
    
  }
  
  .product{
  flex:0 0 calc(33% - 10px);
 
   margin:0px auto;
   margin-bottom: 10px;
  }
  
  
  
  
  
  }


  @media screen and (min-width:976px){
    .products-center{
      display: flex;
      flex-wrap: wrap;
    }
    

    .product{
    flex:0 0 calc(25% - 20px);
     margin-bottom: 20px;
    }
    
    
    
    
    
    }



/* product details info */

.det-center{
 box-shadow: 1px 1px 4px 1px gray;
}

.det h2{
  text-align: center;
  margin:10px 0;
  font-style: italic;
  color: rgb(90, 90, 90);
  letter-spacing: 0.1rem;
}

.det-info .det-img{
  width: 100%;
}

.det-center .det-img img{
  display: block;
 
  margin:0 auto;
}

.det-center .det-info{
  margin-top: 10px;
  padding:0 10px;
}

.det-info h3, .det-info h4,
.det-info p,.det-info .but-options{
margin-bottom: 15px;
}

.det-info h3{
text-align: center;
letter-spacing: 0.1rem;
text-decoration: underline;
color: rgb(95, 95, 95);

}

.det-info h4{
 
  letter-spacing: 0.1rem;

  }

  .det-info span{
 color: crimson;
     }

.det-info .but-options{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;


}

.but-options button{
  margin:10px 10px;
  width: 160px;
  padding:5px 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background: transparent;
  border:1px solid dodgerblue;
  color: rgb(95,95,95);
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;

}


.but-options button:hover{
  background: rgb(95,95,95);
  border:1px solid rgb(104, 104, 104);
  color: #fefefe;


}

.enabled{
  background: grey !important;
}

.disabled{
  background: green !important;
  color: #fff;
}

@media screen and (min-width:664px){

  .det-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .det-center .det-img{
    position: relative;
  }
  .det-center .det-img:after{
 content:'';
 position: absolute;
 border-right: 1px solid rgb(235, 235, 235);
 height: 100%;
 width: 1px;
 right:0;

 top:0;



  }

  .det-center .det-img img{
    width: 90%;
  }

  .det-center .det-info,.det-center .det-img{
    flex:0 0 calc(49% - 10px);
  }

  .det-info .but-options{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
  
  
  }
  .but-options button{
    margin:10px 0px;
    font-size: 18px;
    padding:10px 5px;
  
  }

  .but-options button:first-child{
    margin-right:10px;
    
   
    
   
   }
  
}



/* cart */
.cartItem{

  background: rgb(175, 175, 175);
}

.inside-btn{
  background: rgb(112, 112, 112);
  color: #ccc;
display: inline-block;
margin: 10px 0;
width:30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: all 0.3s ease-in-out;


}
.inside-btn:hover{
  background: rgb(83, 83, 83);



}

.img-cart{
  display: inline-block;
 width:100%;

 background: rgb(161, 161, 161);
 border-radius: 10%;
}
.img-cart img{
  width: 75px;
  height: 70px;
  text-align: center;
  display: block;
}

.cart-center{
  position: relative;
  display: grid;
  border-top: 1px solid rgb(207, 207, 207);
  border-bottom:1px solid rgb(207, 207, 207);
  grid-template-columns: auto 1fr 70px 50px;
  text-align: center;
  align-items: center;
  gap: 15px;
  padding:5px 15px;
}




.item-cart p{
  color:rgb(65, 65, 65);
  font-style: italic;
  text-decoration: underline;
}

.inc-dec-cart{
  display: flex;
  justify-content: space-between;
}

.inc-dec-cart button{
  padding:3px 7px;

  outline: none;
  border:1px solid transparent;
  background: rgb(231, 232, 233);
}


.inc-dec-cart button:hover{
  background: rgb(95,95,95);
  border:1px solid rgb(104, 104, 104);
  color: #fefefe;


}

.price-cart p{
  color: crimson;
  font-family:Arial, Helvetica, sans-serif;
  text-align: right;
}

.del-item{
  position: absolute;
  right:10px;
  top:0px;
  cursor: pointer;
  padding:  3px 10px;
  

}

.del-item:hover{
 color: red;
}

.extra-info{
  display: flex;
   flex-direction: column;
   width: 300px;

   margin: 20px 10px;
  

}

.extra-info h3{
  color: rgb(58, 58, 58);
  font-style: italic;
  letter-spacing: 0.1rem;
 color: rgb(211, 9, 49);
}

.extra-info h3 span{
  color: rgb(58, 58, 58);
  text-transform: capitalize;
}

.payment{
  
}

.payment a{
  border:1px solid rgb(218, 216, 216);
  display: inline-block;
 
  width:150px;
  padding:5px 10px;
  margin-top: 20px;
  color: #ccc;
  background: rgb(90, 90, 90);
  font-size:18px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.payment a:hover{
  border:1px solid rgb(240, 238, 238);
  background: rgb(49, 49, 49);

}


.empty{
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.2rem;
  font-style: italic;
 font-weight: bold;
}

.name{
  background: red;
}

.noname{
  background: green;
}



























   














